<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Login</h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <form #loginForm="ngForm" autocomplete="off" (ngSubmit)="login(loginForm.value)">
        <div *ngIf="authService.errorMessage" class="error-message">{{authService.errorMessage}}</div>
        <div class="form-group">
          <div>
            <label for="userName">User Name:</label>
            <em *ngIf="loginForm.controls.userName?.invalid && loginForm.controls.userName?.touched">Required</em>
          </div>
          <input (ngModel)="userName" name="userName" id="userName" type="text" class="form-control" placeholder="User Name..." pattern="^(?:(?!\.|,|\^|\\|\/).)+$"
            required autofocus/>
          <em *ngIf="loginForm.controls.userName?.invalid && loginForm.controls.userName?.errors.pattern">Must not contain '/' '\' ',' '.' or '^'</em>
        </div>
        <div class="form-group">
          <div>
            <label for="password">Password:</label>
            <em *ngIf="loginForm.controls.password?.invalid && loginForm.controls.password?.touched">Required</em>
          </div>
          <input (ngModel)="password" name="password" id="password" type="password" class="form-control" placeholder="Password..."
            pattern="^(?:(?!\.|,|\^|\\|\/).)+$" required/>
          <em *ngIf="loginForm.controls.password?.invalid && loginForm.controls.password?.errors.pattern">Must not contain '/' '\' ',' '.' or '^'</em>
        </div>
        <div>
          <button type="submit" [disabled]="authService.userState == loggingIn" class="btn btn-primary mr-3">{{authService.userState == loggingIn ? 'Logging In..': 'Log In'}}</button>
          <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
